.flex {
    position: relative;
    width: 850px;
    min-height: 300px;
    margin: 0 auto;
    border: 0px solid red;
    margin-top: 10px;
}


.flex a {
    background-color: white;
    display: block;
    width: 100px;
    height:100px;
    min-height: 100px;
    border-radius: 8px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid white;
    cursor: pointer;
    text-align: left;
    text-shadow: 1px 1px 20px #000;
    color: white;
    font-size: 18px;
    font-weight:bold;
    text-indent: 0px;
    line-height: 30px;
    text-decoration: none;
    overflow: hidden;
}