/* General */

#wrapper {
	margin: 1em 3% 0 3%;
}

/* Page Header */
#mainHeader {
	width: 9em;
}

#mainHeader h1 {
	text-align: left;
	font-size: 30pt;
}

#followMe header h2, #searchSection header h2, #searchSection form input[type="search"] {
	font-size: medium;
}

/* Main Navigation */
#mainNavigation ul li {
	font-size: 3.5em;
	margin: 0 5px 0 5px;
}

/* Layout */
/* Layout for pageHeader */
#mainHeader {
	float: left;
}

/* Layout for Search */
#searchSection {
	float: right;
	padding-top: 1em;
	margin-top: 1em;		/* Fixing (removing) extra border from searchSection */
}

#searchSection header {
	margin-top: -1em;
}

/* Layout for Social */

#followMe {
	float: right;
	padding-top: 1em;
}

/* Clearfix for pageHeader */
#pageHeader:after {
	content: "";
	display: table;
	clear: both;
}

/* Layout for mainNavigation */
#mainNavigation ul {
	text-align: center;
}

#mainNavigation ul li {
	display: inline-block;
}

/* Layout for mainContent */
#mainContent article {
	width: 100%;
}


/* Layout for footer */
footer section {
	float: left;
}

footer section:not(:first-child) {
	margin-left: 5em;
}

#backToTop {
        margin-top: 1em;
	float: right;
}

/* Clearfix for footer */
footer:after {
	content: "";
	display: table;
	clear: both;
}